/* ihwd theme

ihwd stands for I Heart Web Design
Inspired by Jeremy Thomas "Web design in 4 minutes"
*/

/* center text and limit width */
body {
  margin: 0 auto;
  max-width: 50em;
}

/* font family: improve appeal and readability of text */
body {
  font-family: Georgia, Times, serif;
}

/* spacing: within and around */
body {
  line-height: 1.5em;
  padding: 2em 1em;
}
/* in the original top margin and padding of 2em
is added to h2. not doing it here */

/* color and contrast */
body {
  color: #555; 
}

h2, em, strong {
  color: #333;
}

/* Primary color - from Elm */
a {
  color: rgb(12, 145, 216);
}

/* not doing colors for code snippets or secondary colors */

/* minimal navbar */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 10px;
}

nav li:not(:last-child)::after {
  content: "•";
  margin-left: 10px;
}

img {
  width: 100%;
}